{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
    <h2>Confirm Account Deletion</h2>
    <p>Are you sure you want to delete your account?</p>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Enter your password :</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1" />
      </div>
      <button type="submit" class="btn btn-danger">Confirm Deletion</button>
    </form>
  </div>
{% endblock %}
